/*
** Contact Form **
*/

.block-contactus {
  @extend .multi-column-block-heading;
  @media #{$mobile} {
    padding-top: 50px;
  }
  .field--name-field-webform {
    .webform-button--submit {
      @extend .button-bright;
      margin-top: -2px;
    }
    input, textarea {
      border-left: none;
      border-right: none;
      border-top: none;
      border-radius: 0;
      box-shadow: none;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .form-control:focus {
    border-color: $bright-color;
    }
    @media #{$tablet} {
      padding-top: 29px;
      padding-bottom: 37px;
      input {
        height: 32px;
        margin-bottom: 29px;
      }
      textarea {
        height: 154px;
      }
    }
  }
}
