/*
** Social Media Block **
*/

.block-socialmedia {
  padding-bottom: 18px;
  .field--name-body {
    padding-left: 22px;
    h3 {
      margin-top: 20px;
      margin-bottom: 5px;
    }
  }
  .field--name-field-social-icons {
    padding-right: 15px;
    text-align: center;
    @media #{$tablet} {
      text-align: right;
    }
    .field--item {
      display: inline-block;
      margin-top: 60px;
      width: 60px;
      @media #{$mobile} {
        margin-top: 15px;
      }
      @media #{$normal} {
        margin-top: 50px;
        width: 80px;
      }
      @media #{$wide} {
        margin-top: 30px;
        margin-right: 18px;
      }
      i {
        font-size: 200%;
        @media #{$tablet} {
          font-size: 240%;
        }
        @media #{$wide} {
          font-size: 310%;
        }
      }
    }
  }
}
